
.BtnWrapper{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 100%;
}
.card{
    height: 70%;
}
@media screen and (max-width:480px) {
    .BtnWrapper{
        flex-direction:column;
    }
    .card{
        height: 100%;

    }
    
}